@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin: 0;
  margin-bottom: 4px;
  white-space: normal;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  margin: 0;
  white-space: normal;
}

.q-date__today {
  box-shadow: none;
}
